@tailwind base;
@tailwind components;
@tailwind utilities;

.caption-card {
  background-color: rgb(52, 49, 123);
}

.swiper-slide {
  -webkit-transform: translateZ(0);
  -o-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}

.swiper-wrapper {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
